
#main{
    text-align: center;
    width: 80%;
}

p{
    font-size: 18px;
}

.title{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    font-size: 25px;
}

.hashtag{
    font-size: 13px;
    text-align: center;
}
.startBtn{
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.2);
padding: 20px 30px;
  border-radius: 50px;
  background-color: #124098;
  color: white;
  cursor: pointer;
  text-align: center;
}



.startBtn:hover, .startBtn:active {
  padding: 20px 30px;
  border-radius: 50px;
 
  background-color: white;
  color: #124098;
  cursor: pointer;
  text-align: center;
}



.share_text{
    /* margin: 42px auto 0px; */
  /* margin-top: 11px; */
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #585858;
}

.insta,.kakao,.linkcopy{
    /* width: 50px;
  height: 50px; */
    margin: 3px auto 0px;
    cursor: pointer;
  
}