

#qna{
    display: none;
}

.qBox{
    width: 80%;
  height: 0px;
  margin: 94px auto 60px;
  font-family: pretendard;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333;
    
}


.answerList {
    width: 80%;
    height: 96px;
    padding: 26px 20px;
    object-fit: contain;
    border-radius: 50px;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: block;
    font-family: pretendard;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #124098;
    cursor: pointer;
    border: none;
}

.answerList:hover, .answerList:focus{
    padding: 26px 20px;
    border-radius: 50px;
    background-color: #124098;
    color: white;
    cursor: pointer;
    text-align: center;
  }

.qna_title1{
    font-size: 20px;
    color: #333;
    text-align: center;
    width: 80%;
    padding : 5px 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    
}

.status {
    width: 80%;
    height: 10px;
    background-color: #c4c4c4;
    border-radius: 20px;
    }
    
.statusBar {
    height: 100%;
    border-radius: 5px;
    background: #002870;
    }

.countStatus{
    font-family: pretendard;
    text-align: right;
    margin-right: 20px;
    /* color: #868686; */
    color : #999;
    font-size: 16px;
    margin-bottom: 10px;
    }